body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #F5F5EA, #F5F5EA);
  min-height: 100vh;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

button {
  text-transform: none !important;
}
