name: Super Linter

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'
  push:
    branches: [ "main" ]  # antes estaba null; así sí se ejecuta

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files
          fetch-depth: 0

      # Lo dejamos para el futuro (corregí el punto extra en --html)
      - name: Selenium Test
        continue-on-error: true
        run: |
          pip install -U selenium
          pip install -U pytest
          pip install -U pytest-html
          pip install -U webdriver-manager
          pytest test1.py --html=report.html
          cat report.html

      # Ejecuta Super-Linter usando tu archivo java_checks.xml en la raíz
      - name: Run Super-Linter
        uses: super-linter/super-linter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVA: true
          LINTER_RULES_PATH: ./
          JAVA_FILE_NAME: java_checks.xml
